<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Curriculum</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="../static/css/curriculum.css">
    <link rel="stylesheet" href="../static/css/logo.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link active" href="curriculum">CV</a></li>
                    <img src="../static/assets/img/logo/letraP.png" id="logoImage" alt="">
                </ul>
            </div>
        </div>
    </nav>
    <main class="page cv-page" id="mainContentId">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Experiência de Trabalho</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Backend Developer</h3>
                                <h4 class="organization">Dataside + Sidelab</h4>
                            </div>
                            <div class="col-md-6"><span class="period">01/2022 - Atualmente</span></div>
                        </div>
                        <p class="text-muted">Atuando como desenvolvedor backend na empresa
                            Dataside +
                            Sidelab.&nbsp;<br>Participando no desenvolvimento de aplicativos web (xeguei) onde atuei
                            fazendo na parte do backend, utilizando o provedor de cloud Azure com ferramentas como
                            CosmosDB, Azure Functions, Azure DevOps, Service Bus.<br>Na linguagem, trabalho atualmente
                            com Typescript (NodeJS) para a criação de endpoints, API'S e toda lógica de backend.<br>Na
                            parte de segurança cuidei das auditorias de código de produtos como datacoin e xeguei, ambos
                            app's web/mobile em que utilizei a ferramenta Syhunt Hybrid.<br>Atuei na infraestrutura
                            manuseando o Serverless Framework e o Terraform.</p>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">EDUcação</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Desenvolvimento de Software Multiplataforma</h3>
                                <h4 class="organization">FATEC</h4>
                            </div>
                            <div class="col-6"><span class="period">02/2022 - 02/2025</span></div>
                        </div>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="group"></div>
                <div class="hobbies group">
                    <div class="heading">
                        <h2 class="text-center"></h2>
                    </div>
                    <p class="text-center text-muted"></p>
                </div>
            </div>
            <div class="education group">
                <div class="heading">
                    <h2 class="text-center">Hard skills</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>- Typescript com NodeJS;<br>- Bancos NoSQL e SQL (CosmosDB, SQL Server, MySQL);<br>-
                                Serverless Framework;<br>- Cloud Provider Azure;<br>- Serviço de Mensageria (Service
                                Bus);<br>- Java, SpringFramework, JPA e Hibernate;<br>- Testes unitários (JUNIT,
                                SinonJS, ChaiJS);<br>-&nbsp; Pipeline CI/CD (Github Actions)<br>- HTML/CSS/JS e
                                Bootstrap (frontend);<br>- Metodologias ágeis (scrum e kanban).<br>- Python + Flask<br>-
                                Docker&nbsp;<br>- Kubernetes</h3>
                        </div>
                    </div>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="education group">
                <div class="heading">
                    <h2 class="text-center">Soft skills</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>- Trabalho em grupo;<br>- Autodidatismo;<br>- Comunicação;<br>- Adaptabilidade e
                                flexibilidade;<br>- Empatia.</h3>
                        </div>
                    </div>
                    <p class="text-muted"></p>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/" id="about">About me</a><a href="projects" id="projects">Projects</a></div>

        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>