<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="../static/css/myCss.css">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="curriculum">CV</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;../static/assets/img/avatars/avatar.jpg&quot;);">
                </div>
                <div class="about-me">
                    <p id="paragraph">Olá! Me chamo&nbsp;<strong>Pedro</strong>. Sou um entusiasta da área de tecnologia
                        e mexo com
                        computadores desde que me conheço por gente. Trabalho como desenvolvedor backend. Atualmente
                        também tenho me envolvido com DevSecOps e a área de SRE</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading" id="specialSkills">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-world-outline"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Backend</h3>
                                <p class="card-text">Desenvolvimento de sistemas na parte do backend. Desenvolvimento de
                                    API's, testagem e analisar regras de negócios são as coisas que mais me atraem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-glasses"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">DevSecOps</h3>
                                <p class="card-text">Amante da cultura DevSecOps. Atualmente tenho estudado além de
                                    desenvolvimento, a parte de segurança, infraestrutura e observabilidade.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-copy"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Banco de Dados</h3>
                                <p class="card-text">Da modelagem à criação de banco de dados. Já mexi com banco de
                                    dados relacionais, não relacionais, na própria máquina ou na nuvem.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Teste</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, laboriosam? Nam facilis eum
                        quis vel vitae quae libero! Aperiam repudiandae distinctio nulla sed quo accusamus repellendus
                        explicabo voluptas laudantium veniam..</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content"
                                style="background-image:url(&quot;../static/assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/" id="about">About me</a><a href="projects" id="projects">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                        class="icon ion-social-instagram-outline"></i></a><a href="#"><i
                        class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>