<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projetos</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="../static/css/projects.css">
    <link rel="stylesheet" href="../static/css/logo.css">


</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="curriculum">CV</a></li>
                    <li><img src="../static/assets/img/logo/letraP.png" id="logoImage" alt=""></li>

                </ul>
            </div>
        </div>
    </nav>
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2 id="titleId">Projetos</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                    src="../static/assets/img/nature/cosmosImage.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">CosmosDB</a></h6>
                                <p class="text-muted card-text">Pequeno teste para conexão do banco de dados noSQL
                                    CosmosDB</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                    src="../static/assets/img/nature/graphqlImage.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="https://github.com/PHCorra/api-graphQL-Typescript">GraphQL</a></h6>
                                <p class="text-muted card-text">Teste de criação de API com GraphQL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                    src="../static/assets/img/nature/serverlessImage.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="https://github.com/PHCorra/serverless-azure-functions">Serverless
                                        Framework</a></h6>
                                <p class="text-muted card-text">Conexão do Serverless Framework com Azure Functions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                    src="../static/assets/img/nature/jwtImage.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="https://github.com/PHCorra/sistema-login-token">JWT</a></h6>
                                <p class="text-muted card-text">Criação de Tokens</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                    src="../static/assets/img/nature/jsImage.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="https://github.com/PHCorra/ToDoList_Unect">To-do-list</a></h6>
                                <p class="text-muted card-text">ToDo-list básica com html, css e Javascript</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                    src="../static/assets/img/nature/herokuImage.png" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="https://github.com/PHCorra/sitePortfolio">Site portfólio e deploy no
                                        Heroku</a></h6>
                                <p class="text-muted card-text">Pequeno site para projeto da faculdade com deploy no
                                    Heroku</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/" id="about">About me</a><a href="projects" id="projects">Projects</a></div>

        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>