#logoImage {
    position: absolute;
    width: 3.8%;
    left: 1.5%;
    top: 2%;
    bottom: 2%;
    
}


@media (max-width: 1900px) {
    #logoImage {
        width: 4.3%;
        right: 0%;
        top: 2%;
        bottom: 2%;
    }
}

@media (max-width:1100px) {
    #logoImage {
        display: none;
    }
}